body
{
	font-family: 'Roboto', sans-serif; 
	margin-left: 35px; 
	margin-right: 35px; 
	margin-bottom: 35px; 
	text-align: center;
}

#home, #game
{
	height: 100vh; 
}




#nav-bar
{
	position: sticky;
	top: 0;
	z-index: 20; 
}

.navbar-nav li
{
	padding: 0 15px;
}

.nav-item
{
	float: right!important;
	text-align: right!important; 
	
	/* font-size: 943px!important; */
}

#nav-bar ul li a:hover
{
	color: black!important; 
}

.navbar
{
	background: white;
}

.navbar-toggler
{
	border: none!important;
}

.nav-link
{
	font-weight: 600; 
	font-size: 16px; 
	color: #555555!important; 
}




h1
{
	font-size: 80px;
	color: #0e9aa7; 
}

#title
{
	position: absolute;
    top: 38%;
    left: 50%; 
	transform: translate(-50%, -50%);
}

#playButton
{
	width: 300px;
	height: 70px;

	position: absolute;
    top: 60%;
	transform: translate(-50%, -50%);

	text-align: center; 
	border-radius: 10px;
	font-size: 30px;
	background-color: #e9e9e9;
	border: none;
	margin: 2px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
	transition: 0.3s;
}

#timer
{
	font-size: 30px;
	color: #0e9aa7; 
}

canvas
{
	width: 800px; 
	height: 500px; 
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	padding: 5px;
	margin-bottom: 30px;
}

canvas:hover 
{
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}

input
{
	height: 60px; 
	width: 625px; 
	text-align: center; 
	border-radius: 10px;
	font-size: 30px;
	background-color: #e9e9e9;
	border: none;
	margin: 2px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
	transition: 0.3s;
}

.choiceButtons
{
	font-size: 20px;
	white-space: normal;
	word-wrap: break-word;
	margin-bottom: 10px; 
}

button:hover, input:hover
{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
}

#restart
{
	height: 60px; 
	width: 625px; 
	text-align: center; 
	border-radius: 10px;
	font-size: 30px;
	background-color: #e9e9e9;
	border: none;
	margin: 2px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
	transition: 0.3s;
	
	position: absolute;
	margin-top: 25px;
	margin-right: 10px;
	top: 0;
	right: 0;
	width: 160px;
}

#game
{
	position: relative;
}

.fadeIn
{
    animation: fadeIn 0.4s;
    -webkit-animation: fadeIn 0.4s; 
    animation-fill-mode: forwards;
    pointer-events: auto;
}

@keyframes fadeIn 
{
    from { opacity: 0; }
    to { opacity: 1; }
}

.fadedIn
{
    opacity: 1; 
    pointer-events: auto;
	display: inline;
}

.fadeOut
{
    animation: fadeOut 0.4s;
    -webkit-animation: fadeOut 0.4s; 
    animation-fill-mode: forwards;
    pointer-events: none;
}

@keyframes fadeOut 
{
    from { opacity: 1; }
    to { opacity: 0; }
}

.fadedOut
{
    opacity: 0; 
    pointer-events: none;
	display: none;
}


#socialMediaButtons button
{
	position: absolute;
	margin-left: 22px;
	bottom: 0;
	left: 0;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-size: cover;
	position: fixed;
}

#twitter
{
	background: url(/img/twitter.png);
	margin-bottom: 20px;
}

#facebook
{
	background: url(/img/facebook.png);
	margin-bottom: 70px;
}

#about
{
	margin-left: 150px;
	margin-right: 150px;
}